:host {
  position: absolute;
  bottom: 60%;
  header {
    color: white;
    padding: 20px;
    z-index: 10;
    h1 {
      font-size: 30px;
    }
    p {
      color: white;
      margin: 0px;
    }
  }
}