<ion-content 
  class="pso-content-main"
  [scrollY]="false"
  [fullscreen]="true">

  <div class="pso-cover"></div>
  <div class="pso-container"></div>

  <pso-section-header 
    routeBack="../../../"
    [image]="logo">
  </pso-section-header>

  <pso-section-subheader 
    *ngIf="competition"
    subtitle="Select your favorite team."
    [title]="name">
  </pso-section-subheader>

  <main class="pso-sheet">
    
    <!-- Teams -->
    <ion-content 
      class="pso-content"
      [fullscreen]="true">
      <pso-section 
        base="./team/"
        [status]="status"
        [items]="teams">
      </pso-section>
    </ion-content>

  </main>
    
</ion-content>
